*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100vw;
  padding: 40px 0;
}


.card {
  width: 400px !important;
  background-color: #fff7e2;
  border: 1px solid #e7ebe7;
  border-radius: 30px;
  height: 550px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(47, 95, 56, 0.08);
  transition: transform 0.2s ease;
  margin: 12px;
}

.card:hover {
  transform: scale(1.01);
}

.avatar {
  width: 180px !important;
  height: 180px !important;
  border-radius: 50%;
  object-fit: cover;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.rate {
  position: absolute;
  bottom: 7px;
  background-color: #000000;
  color: #ffb400;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
}

.name {
  font-family: "Nunito" sans-serif;
  font-style: Bold;
  font-size: 30px !important;
  color: #2e2f2e;
  font-weight: 800 !important;
  font-style: Bold;
}

.details {
  font-size: 15px;
  color: #6e756f;
  margin: 10px 35px;
  line-height: 1.4;
  text-align: left;
}

.badges {
  display: flex;
  justify-content: space-around;
  margin: 12px 0;
}

.badge {
  background-color: #fff7e2;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #2f5f38;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 300;
  font-family: Nunito;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #3c3c3c;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 25px;
}

.ghost {
  background-color: #ffffff;
  border: 1px solid #2f5f38;
  color: #2f5f38;
  padding: 5px;
  border-radius: 6px;
  text-decoration: none;
}

.bookconsultation {
  background: #2f5f38;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: Nunito;
  font-size: 21px;
  padding: 11px;
  margin-top: 4px;
  font-family: "Lucida Sans", sans-serif;
}
