*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}
